In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df1 = pd.read_csv('nutrient_origin_data_mean_2017-2021_tons_level2_categories.csv')

In [4]:
df1.head(10)

,Category.Code,Primary.Item.Code,Area.Code,Producer.Country,Dry_Matter,Energy,Protein,Fiber_TD,FA_Poly,Calcium,...,Riboflavin,Niacin,Panto_Acid,Vit_B6,Choline_Tot,Vit_E,Vit_A,Folate_Tot,Vit_B12,Vit_K
0,1,15,12,1,0.003448,15.052479,0.000344,9.127670e-05,4.046356e-05,2.177420e-06,...,4.034145e-08,1.958432e-07,8.161237e-09,6.416030e-09,0.0,2.180948e-09,0.0,1.715113e-08,0.0,2.790738e-11
1,1,15,12,2,0.000625,2.722306,0.000051,7.468257e-06,1.590449e-05,1.999655e-06,...,1.351673e-08,5.043286e-08,1.571108e-09,1.519486e-09,0.0,4.885774e-10,0.0,4.304413e-09,0.0,4.833514e-12
2,1,15,12,3,0.003832,18.699123,0.000353,2.396918e-05,2.068129e-04,5.931029e-06,...,3.327770e-08,9.102486e-08,1.060889e-08,4.786849e-10,0.0,5.119272e-09,0.0,9.089265e-09,0.0,7.973309e-11
3,1,15,12,4,0.006113,24.027299,0.000585,6.043616e-05,7.800484e-05,3.354887e-06,...,5.019465e-08,1.320329e-07,1.312301e-08,1.100555e-09,0.0,2.642775e-09,0.0,3.861565e-08,0.0,3.180420e-11
4,1,15,12,7,0.000886,2.478998,0.000150,1.284024e-04,4.605450e-05,9.364016e-07,...,9.771734e-09,8.094973e-08,1.691916e-08,1.690501e-09,0.0,5.896463e-09,0.0,1.371387e-09,0.0,2.172535e-11
5,1,15,12,9,14.339108,58266.290744,1.518894,6.977164e-01,2.403715e-01,8.874428e-03,...,9.054518e-05,6.408270e-04,5.245276e-05,1.934968e-05,0.0,2.579626e-05,0.0,3.486442e-05,0.0,1.948271e-07
6,1,15,12,10,19.339885,72343.017797,1.854823,5.708816e-01,3.069060e-01,1.134813e-02,...,5.940075e-05,4.769073e-04,6.156170e-05,8.610389e-06,0.0,4.630685e-05,0.0,2.004771e-05,0.0,2.725701e-07
7,1,15,12,11,3.060797,10969.266916,0.326915,8.295382e-02,4.519210e-02,1.712249e-03,...,1.583714e-05,1.024549e-04,1.371755e-05,1.152396e-06,0.0,2.213692e-06,0.0,5.935276e-06,0.0,1.758061e-08
8,1,15,12,16,0.110075,509.224858,0.011432,1.868198e-03,3.700285e-03,2.040956e-04,...,1.117672e-06,5.765649e-06,5.067005e-07,8.972453e-08,0.0,2.433869e-07,0.0,3.275491e-07,0.0,1.708838e-09
9,1,15,12,18,0.000012,0.056124,0.000001,1.176398e-07,4.078122e-07,1.017579e-08,...,3.955029e-11,1.949302e-10,4.918827e-11,1.343577e-12,0.0,1.625363e-11,0.0,8.571665e-12,0.0,1.976545e-13

In [5]:
print(df1.shape)

(2083020, 30)

In [6]:
df2 = pd.read_csv('feed_and_food_categories.csv')
df2

     Category.code              Category.Name  Unnamed: 2  Unnamed: 3
0              1.0                       Beef         NaN         NaN
1              2.0  Chicken and other poultry         NaN         NaN
2              3.0                      Cocoa         NaN         NaN
3              4.0                   Coconuts         NaN         NaN
4              5.0                     Coffee         NaN         NaN
..             ...                        ...         ...         ...
994            NaN                        NaN         NaN         NaN
995            NaN                        NaN         NaN         NaN
996            NaN                        NaN         NaN         NaN
997            NaN                        NaN         NaN         NaN
998            NaN                        NaN         NaN         NaN

[999 rows x 4 columns]

In [7]:
df3 = pd.read_csv('area_code.csv')
df3

     Country Area Code      Country
0                    1      Armenia
1                    2  Afghanistan
2                    3      Albania
3                    4      Algeria
4                    7       Angola
..                 ...          ...
205                272       Serbia
206                273   Montenegro
207                276        Sudan
208                277  South Sudan
209                299    Palestine

[210 rows x 2 columns]

In [8]:
convert_to_decimal = lambda x: '{:.9f}'.format(x)

In [9]:
exclude_columns = ['Category.Code', 'Primary.Item.Code', 'Area.Code', 'Producer.Country']

for column in df1.columns:
    if column not in exclude_columns:
        df1[column] = df1[column].apply(convert_to_decimal)

In [10]:
df1

,Category.Code,Primary.Item.Code,Area.Code,Producer.Country,Dry_Matter,Energy,Protein,Fiber_TD,FA_Poly,Calcium,...,Riboflavin,Niacin,Panto_Acid,Vit_B6,Choline_Tot,Vit_E,Vit_A,Folate_Tot,Vit_B12,Vit_K
0,1,15,12,1,0.003448133,15.052478978,0.000343819,0.000091277,0.000040464,0.000002177,...,0.000000040,0.000000196,0.000000008,0.000000006,0.000000000,0.000000002,0.000000000,0.000000017,0.000000000,0.000000000
1,1,15,12,2,0.000624725,2.722306133,0.000050670,0.000007468,0.000015904,0.000002000,...,0.000000014,0.000000050,0.000000002,0.000000002,0.000000000,0.000000000,0.000000000,0.000000004,0.000000000,0.000000000
2,1,15,12,3,0.003831599,18.699123240,0.000353017,0.000023969,0.000206813,0.000005931,...,0.000000033,0.000000091,0.000000011,0.000000000,0.000000000,0.000000005,0.000000000,0.000000009,0.000000000,0.000000000
3,1,15,12,4,0.006113411,24.027298736,0.000585256,0.000060436,0.000078005,0.000003355,...,0.000000050,0.000000132,0.000000013,0.000000001,0.000000000,0.000000003,0.000000000,0.000000039,0.000000000,0.000000000
4,1,15,12,7,0.000886339,2.478998110,0.000149978,0.000128402,0.000046055,0.000000936,...,0.000000010,0.000000081,0.000000017,0.000000002,0.000000000,0.000000006,0.000000000,0.000000001,0.000000000,0.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083015,17,254,8,215,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000
2083016,17,254,8,216,0.000791982,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000
2083017,17,254,8,217,0.003732416,50.639859159,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000
2083018,17,254,8,236,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000
2083019,17,254,8,250,0.000000741,0.006440601,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000

In [11]:
importer_country=[]
for i in df1['Area.Code']:
    for j in df3["Country Area Code"]:
        if i==j:
            Index = df3.loc[df3['Country Area Code'] == j].index[0]
            Value = df3['Country'].loc[Index]
            importer_country.append(Value)
            break

In [10]:
exporter_country=[]
for i in df1['Producer.Country']:
    if i==0:
        exporter_country.append('MARS')
        continue
    for j in df3["Country Area Code"]:
        if i==j:
            Index = df3.loc[df3['Country Area Code'] == j].index[0]
            Value = df3['Country'].loc[Index]
            exporter_country.append(Value)
            break

In [12]:
item_list=[]
for i in df1['Category.Code']:
    for j in df2["Category.code"]:
        if i==j:
            Index = df2.loc[df2['Category.code'] == j].index[0]
            Value = df2['Category.Name'].loc[Index]
            item_list.append(Value)
            break

In [13]:
df1["Importer_Country"] = importer_country
df1['Exporter_Country'] = exporter_country
df1['Item_List'] = item_list
df1

,Category.Code,Primary.Item.Code,Area.Code,Producer.Country,Dry_Matter,Energy,Protein,Fiber_TD,FA_Poly,Calcium,...,Vit_B6,Choline_Tot,Vit_E,Vit_A,Folate_Tot,Vit_B12,Vit_K,Importer_Country,Exporter_Country,Item_List
0,1,15,12,1,0.003448133,15.052478978,0.000343819,0.000091277,0.000040464,0.000002177,...,0.000000006,0.000000000,0.000000002,0.000000000,0.000000017,0.000000000,0.000000000,Bahamas,Armenia,Beef
1,1,15,12,2,0.000624725,2.722306133,0.000050670,0.000007468,0.000015904,0.000002000,...,0.000000002,0.000000000,0.000000000,0.000000000,0.000000004,0.000000000,0.000000000,Bahamas,Afghanistan,Beef
2,1,15,12,3,0.003831599,18.699123240,0.000353017,0.000023969,0.000206813,0.000005931,...,0.000000000,0.000000000,0.000000005,0.000000000,0.000000009,0.000000000,0.000000000,Bahamas,Albania,Beef
3,1,15,12,4,0.006113411,24.027298736,0.000585256,0.000060436,0.000078005,0.000003355,...,0.000000001,0.000000000,0.000000003,0.000000000,0.000000039,0.000000000,0.000000000,Bahamas,Algeria,Beef
4,1,15,12,7,0.000886339,2.478998110,0.000149978,0.000128402,0.000046055,0.000000936,...,0.000000002,0.000000000,0.000000006,0.000000000,0.000000001,0.000000000,0.000000000,Bahamas,Angola,Beef
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083015,17,254,8,215,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,Antigua and Barbuda,United Republic of Tanzania,Others
2083016,17,254,8,216,0.000791982,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,Antigua and Barbuda,Thailand,Others
2083017,17,254,8,217,0.003732416,50.639859159,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,Antigua and Barbuda,Togo,Others
2083018,17,254,8,236,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,Antigua and Barbuda,Venezuela (Bolivarian Republic of),Others
2083019,17,254,8,250,0.000000741,0.006440601,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,Antigua and Barbuda,Democratic Republic of the Congo,Others

In [17]:
custom_string = "nan"
for column in df1.columns:
    if column not in exclude_columns:
        df1 = df1[~df1[column].str.contains(custom_string, na=False)]

In [18]:
df1

,Category.Code,Primary.Item.Code,Area.Code,Producer.Country,Dry_Matter,Energy,Protein,Fiber_TD,FA_Poly,Calcium,...,Vit_B6,Choline_Tot,Vit_E,Vit_A,Folate_Tot,Vit_B12,Vit_K,Importer_Country,Exporter_Country,Item_List
0,1,15,12,1,0.003448133,15.052478978,0.000343819,0.000091277,0.000040464,0.000002177,...,0.000000006,0.000000000,0.000000002,0.000000000,0.000000017,0.000000000,0.000000000,Bahamas,Armenia,Beef
1,1,15,12,2,0.000624725,2.722306133,0.000050670,0.000007468,0.000015904,0.000002000,...,0.000000002,0.000000000,0.000000000,0.000000000,0.000000004,0.000000000,0.000000000,Bahamas,Afghanistan,Beef
2,1,15,12,3,0.003831599,18.699123240,0.000353017,0.000023969,0.000206813,0.000005931,...,0.000000000,0.000000000,0.000000005,0.000000000,0.000000009,0.000000000,0.000000000,Bahamas,Albania,Beef
3,1,15,12,4,0.006113411,24.027298736,0.000585256,0.000060436,0.000078005,0.000003355,...,0.000000001,0.000000000,0.000000003,0.000000000,0.000000039,0.000000000,0.000000000,Bahamas,Algeria,Beef
4,1,15,12,7,0.000886339,2.478998110,0.000149978,0.000128402,0.000046055,0.000000936,...,0.000000002,0.000000000,0.000000006,0.000000000,0.000000001,0.000000000,0.000000000,Bahamas,Angola,Beef
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083015,17,254,8,215,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,Antigua and Barbuda,United Republic of Tanzania,Others
2083016,17,254,8,216,0.000791982,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,Antigua and Barbuda,Thailand,Others
2083017,17,254,8,217,0.003732416,50.639859159,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,Antigua and Barbuda,Togo,Others
2083018,17,254,8,236,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,Antigua and Barbuda,Venezuela (Bolivarian Republic of),Others
2083019,17,254,8,250,0.000000741,0.006440601,0.000000000,0.000000000,0.000000000,0.000000000,...,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,0.000000000,Antigua and Barbuda,Democratic Republic of the Congo,Others

In [19]:
df1 = df1[df1['Exporter_Country'] != 'MARS']

In [20]:
df1.shape

(2082922, 33)

In [23]:
df1 = df1.drop(['Primary.Item.Code'],axis=1)
df1 = df1.drop(['Producer.Country'],axis=1)
df1 = df1.drop(['Area.Code'],axis=1)
df1 = df1.drop(['Category.Code'],axis=1)

In [24]:
df1.to_csv("Cleaned_Data.csv",index = False)